<script src="{{ url_for('design-system.static', filename='assets/vendor/chart.js/chart.min.js') }}"></script>
<script src="{{ url_for('design-system.static', filename='assets/vendor/chart.js/chartjs-adapter-date-fns.bundle.min.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script src="{{ url_for('usage.static', filename='js/api/summaryAPI.js') }}" type="text/javascript"></script>
<script src="{{ url_for('usage.static', filename='js/utils/tableEvents.js') }}" type="text/javascript"></script>
<script src="{{ url_for('usage.static', filename='js/Summary/SummaryModalSave.js') }}" type="text/javascript"></script>
<script src="{{ url_for('usage.static', filename='js/Summary/SummaryTable.js') }}" type="text/javascript"></script>
<script src="{{ url_for('usage.static', filename='js/Summary/SummaryChartPie.js') }}" type="text/javascript"></script>
<script src="{{ url_for('usage.static', filename='js/Summary/SummaryChartLine.js') }}" type="text/javascript"></script>
<script src="{{ url_for('usage.static', filename='js/Summary/SummaryCards.js') }}" type="text/javascript"></script>
<script src="{{ url_for('usage.static', filename='js/Summary/SummaryPage.js') }}" type="text/javascript"></script>