<style>
    .drp-buttons {
        display: flex !important;
        justify-content: end !important;
    }
    .drp-selected {
        display: none !important;
    }
    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: var(--basic) !important;
    }
    .daterangepicker.opensleft {
        margin-right: 8px;
    }
    .vertical-align-top {
        vertical-align: top !important;
    }
    .cut-text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100px;
        height: 1.2em;
        white-space: nowrap;
    }
    .card-table .bootstrap-table .fixed-table-pagination > .pagination-detail,
    .card-table .bootstrap-table .fixed-table-pagination > .pagination {
        margin-bottom: 0px;
    }
    .bootstrap-table .fixed-table-pagination>.pagination,
    .bootstrap-table .fixed-table-pagination>.pagination-detail {
        margin-bottom: 0px;
    }
    .card-body .table td:first-child {
        padding-right: 20px !important;
    }
    .table-hover tbody tr.detail-view:hover {
        background-color: transparent;
    }
    .table-hover tbody tr.detail-view > td {
        padding: 20px !important;
    }
    textarea.form-control {
        transition: none !important;
    }
</style>
